@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.container-about {
    /* background-color: #2E151A; */
    font-family: "Roboto";
    text-align: center;
    font-size: 12px;
}

img {
    border-radius: 10px;
}

/*Estilo del titulo*/
.row-title {
    color: white;
    text-align: center;
    background-color: #fcbf6c;
    border-radius: 20px;
    /*  margin-left: 150px;
    margin-right: 150px; */
    margin-top: 20px;
    font-size: 12px;
    padding: 10px;
}

.card {
    /* Centrar cartas adentro de su div*/
    margin: 10px auto;
    padding: 10px;
    width: 18rem;
    height: 32rem;
    /* margin-top: 20px; */
}

/* div class links */
.links {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 100%;
    /* Margen de lo que mide verticalmente*/
    margin-top: -50px;
    /* border-radius: 80px; */
}

/* Span que es hijo de class links (texto links)*/
.links span {
    /* tamano span */
    width: 200px;
    /* posicion texto en vertical */
    line-height: 40px;
    display: inline-block;
    font-weight: 700;
    /* text-transform: uppercase; */
    position: absolute;
    /* Centra texto */
    left: 50%;
    margin-left: -100px;
    /* mostrar texto */
    opacity: 1;
    /* Animacion hover */
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    /* Color texto */
    color: #2e1519;
    font-size: 18px;

}

/* Normalmente estan ocultos los iconos haciendo su tamano 0 */
.links nav {
    font-size: 0;
}

/* Borde rendondeado primer link github rojo*/
.links a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

/* Borde rendondeado tercer link link verde*/
.links a:nth-child(3) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 0;
}

/* Hover primer link cambia a rojo */
.links a:nth-child(1):hover {
    background-color: #ea4335;
}

/* Hover primer link cambia a negro */
.links a:nth-child(2):hover {
    background-color: #050608;
}

/* Hover primer link cambia a verde */
.links a:nth-child(3):hover {
    background-color: #39b300;
}


/* Opacity entre 0 y 1, vuelve invisible el texto links */
.links:hover span,
.links.hover span {
    opacity: 0;
}

/* a normal */
.links a {
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    background: #fcbf6c;
    /* background: linear-gradient(180deg, #fcbf6c, #fcbf6c); */
    color: #ffffff;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    margin: 0 0px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

/* a hover */
.links:hover a {
    margin: 0 10px;
    color: #413838;
    font-size: 28px;
    border-radius: 50%;
    background: #ffffff15;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

/* Cambia los iconos de a color hover blaco para hacer constraste */
.links:hover a:hover {
    color: #ffffff;
}