/* .list-group-flush{
text-decoration: none;
color: white;
margin-left: 70px;
margin-top: 20px;
list-style: none;

} */

/* #perfil{
  margin-top: 100px;
} */

/* #miCuenta{
    color: white;
    border: 3px solid rgb(148, 141, 141);
    border-radius: 10px;
    margin:50px;
    display: flex;
} */

#contenedor{
    width: 100px;
    height: 100px;
    
}



/* #misPedidos{
    color: white;
    border: 3px solid rgb(148, 141, 141);
    border-radius: 10px;
    margin:50px;
    height: 500px;
   
    

} */
#buttonEditar, #buttonGuardar {
    
    border-radius: 10px;
    align-self: end;
    background-color: var(--primary2);
    border-color: white;
    color: #fcbf6b;
}
#buttonEditar:hover, #buttonGuardar:hover{
    background-color: #efb815;
    border-color: transparent;
    color: var(--primary2);
    transition: 0.7s;
}

#buttonEditar1, #buttonGuardar1 {
    
    border-radius: 10px;
    align-self: end;
    background-color: var(--primary2);
    border-color: white;
    color: #fcbf6b;
}
#buttonEditar1:hover, #buttonGuardar1:hover{
    background-color: #efb815;
    border-color: transparent;
    color: var(--primary2);
    transition: 0.7s;
}


h3{
    color:white;
}

#border-formulario{
    display: flex;
    max-width: 25em;
    /* width: 1200px; */
    padding: .5em;
    margin-top: 100px;
/*     background-color: rgb(120, 119, 123, 0.3);*/
    background-color: var(--primary);
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}

#fondoBoton{
    color: white;
    background-color: var(--primary);  
}

#imgUser{
    width: 100px;
    height: 100px;
}

.form-label,
label {
    color: black !important;
}

.accordion-button{
    color:black;
}

/* .accordion-button:not(.collapsed)::after {
    background-color: white;
    color: white;
    border-top-color: aliceblue;
    transform: var(--bs-accordion-btn-icon-transform);
} */