body {
    background-color: #2E151A;
}

/* En esta pagina todo sera de esta fuente y color */
#contact {
    font-family: 'Ubuntu', sans-serif;
    color: #FCBF6B;
}

/* Estilos de toda clase container sera flex y column */
#container {
    display: flex;
    flex-direction: column;
}

/* Estilo de alertas de formulario de informacion incorrecta */
.warning {
    text-align: center;
    color: red !important;
    visibility: hidden;
}


.input {
    border-radius: 10px;
    background-color: #FCBF6B;
}

.input:focus {
    background: #585858;
}

#button {
    border-radius: 10px;
    align-self: end;
    background-color: #EFB817;
    color: white;
}

.linea {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

h2.linea:before {
    border-top: 2px solid #EFB817;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 95%;
    z-index: -1;
}

h2.linea span {
    background: #2E151A;
    padding: 0 15px;
}

#img {
    border-radius: 50px;
    display: flex;
}

@media (max-width: 400px) {
    #img {
        display: none;
    }
}