body{
background-color: #2E151A;
}
#container{
    color: #FCBF6B;
 
}

#fonts{
    font-family: 'Ubuntu', sans-serif;
    color: #FCBF6B;
}
#row-left{
    
    padding-left: 20px;
    
}

#input{
    border-radius: 10px;
    background-color: #FCBF6B;
    font-family: 'Ubuntu', sans-serif;
  
   
}

#button{
    border-radius: 10px;
    margin-left: 450px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #EFB817;
    color: white;
}

.linea{
    margin-top: 30px;
    
}

h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 2px solid #EFB817;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  width: 95%;
  z-index: -1;
}
h2.linea span {

  background: #2E151A;
  padding: 0 15px;
}

#img{
    padding: 30px;
    border-radius: 50px;
}

