/* Cambiar color y tamano de texto a toda clase div adentro de body se puede quitar body la verdad*/
body .div {
    color: var(--white);
    font-size: 32px;
    display: flex;
    /* justify-content: center; */
}

img {
    max-width: 30;
    max-height: 40;
}

#welcome {
    display: flex;
    justify-content: center;
}

#video {
    height: 750px;
    width: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
    bottom: 60px; /* para ocultar la marca de agua del video original */
}

#text-video {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: var(--secondary2);
    display: block;
    padding: 35px;
    line-height: 260%;
}

#over-video {
    position: absolute;
    top: 200px;
    z-index: 2;
    margin-top: 10px;
    padding: 35px;
    /* display: block; */
}

/* Tamaño de la letra del video */
#text-p{
    font-size: 80px; /* No llegar a 100% */
}

#video-container {
    position: relative;
}

/* estilos tarjetas carrusel */

.card-title {
    color: #EFB817;
    font-size: 100px;

}

.card-text {
    color: black;
    font-size: 2rem;
}

/* titulo de curiosidades */
#info{
    color: #EFB817;
    font-size: 5rem;
}

/* para centrar el contenido de las tarjetas info */
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas-info{
    font-size: 16px; 
}

.card-text-info{
    font-size: 24px;
}

.card-body-info{
    margin: 10px;
    align-self: center;
    border-radius: 10px;
    display: flex;
    background-color: var(--primary);
    color: var(--white);
}

.card-info{
    width: 500px;
    height: 600px;
    margin: 32px;
    background-color: var(--primary);
}

#titulo-info{
    font-size: 64px !important;
}

.btnVerMas {
    background-color: white;
    border-color: transparent;
    color: black;

}

.btnVerMas:hover {
    background-color: black;
    border-color: transparent;
    color: white;
    transition: 0.5s;
}

.container {
    position: absolute;
    z-index: 1; 
}

/* h1 {
    font-size: 100px;
} */