/* 
p {
    background-color: yellow;
} 


/* /* variable de colores */
/*   
	--primary:#2a1e1e;      cafe
  --primary2:#412c30;     cafe
  --secondary:#EFB817;    amarillo
  --secondary2:#fff0e5;   crema
  --white:#FFFFFF;        blanco
  --black:#000000;        negro
  */

/* 
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
} */

body{
    font-family: 'Ubuntu', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.central-div {
    display: flex;
    height: 100hv;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
	max-width: 900px;
	width: 100%;
	text-align: center;
    background-color:rgba(158, 143, 114, 0.216);
/*     padding: 25px 30px;
 */ border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
}


/* .central-div .title-r{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    padding: 15px;
} */

/* titulo */
.title-r{
    color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    padding: 10px;
    margin: 10px;
}

/* Clase a los Input */
.name-inp{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    color: var(--secondary2);
    font-weight: bold;
    font-size: 20px;
    padding: 20px;

}

/* imagen */
.img-gra{
    width: 100%;
}


/* div central -> formulario -> seccion input y span */
.central-div form .user{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
    margin: 5px 0 5px 0; 
     
}


/* formulario -> seccion input */
form .user .inp-info{
    margin-bottom: 25px;
/*     width: calc(90% / 2 - 20px); */
}

/* formulario -> seccion span */
form .inp-info span.name-inp{
    font-family: 'Ubuntu', sans-serif;
    color: var(--secondary2);
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}




.user .inp-info input{
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary);
    border-radius: 12px;
    font-size: 16px;
    background-color:rgba(245, 240, 234, 0.98);
    text-align: center;
    font-weight: bold;
}

/* seccion boton */
.btn{
/*     margin-top: 40px;
 */    margin-right: 30px;
/*     border-radius: 15px;
 */    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight:bold ;
    margin:auto;
    color:var(--primary);
    background-color:var(--secondary2);
    
}

.btn:hover{
    color: var(--secondary2);
    background-color: var(--secondary);
    transition: 0.7s;

}


/* Estilos para el modal */

  


/* .user .inp-info input:{

} */


/* @media (max-width: 768px) {
	.container {
		max-width: 75%;
	}
}

@media (max-width: 480px) {
	.container {
		max-width: 100%;
	}
}
 */


