/* Cambiar o ocultar color del borde por defecto */
/* .border {
	border-color: red !important;
} */

:root {
	--primary:#2a1e1e;
    --primary2:#412c30;
    --secondary:#EFB817;
    --secondary2:#fff0e5;
    --white:#FFFFFF;
    --black:#000000;
}

/* Aplicar estilo a todo elemento */
* {
	/* font-family: "Comic Sans MS", "Comic Sans"; */
    /* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Playfair Display', ;
	font-weight: bold;

	/* debug */
	
	/* border: solid rgb(43, 255, 0) !important;
	color: rgb(255, 0, 0) !important;
	border-width: 1px !important; 
	background-color: white !important; */
}

/********************** BODY **********************/
body {
	/* Altura minima de toda la pantalla para que el footer este hasta abajo */
    min-height: 100vh;
    margin: 0;
	display: flex;
    flex-direction: column;
	background-color: var(--primary2);
}

/* Dummy div entre navbar y footter que se expande parue el */
article {
    flex: 1;
}


/********************** NAVBAR **********************/
.navbar {
	background-color: var(--primary);
}

.nav-link {
	color: var(--secondary2);
}

.nav-link:hover {
	color: var(--white);
}

.navbar-brand{
	color: var(--secondary2);
}

.navbar-brand:hover {
	color: #c5c5c5;
}

.nav-icon {
	color: var(--secondary2);
	font-size: 32px;
	margin-bottom: 16px;
}

.nav-icon:hover {
	color: var(--white);
}

#nav-cart-container {
    display: flex;
    position: relative;
    color: white;
    /* bottom: 8px; */
}

/* Estilos del contador de productos en el carrito */
#nav-cart-count {
    /* Libre posicion en el div */
    position: absolute;
    /* Color de texto */
    color: black;
    /* Central texto horizontalmente en el circulo */
    text-align: center;
    /* Diametro del circulo */
    height: 20px;
    width: 20px;
    /* Color de circulo */
    background-color: yellow;
    /* Cuadrado a circulo */
    border-radius: 16px;
    /* Centrar verticalmente texto en el circulo */
    line-height: 19px;
    /* Mover el indicador */
    margin-top: 8px;
    margin-left: 20px;
    /* Tamaño de la fuente */
    font-size: 16px;
}



/********************** FOOTER **********************/

/* Aplica estilo a la clase footer */
.footer {
	background-color: var(--primary);

	display: flex;

	flex-direction: row;

	padding: 5px;

	/* Central horizontal */
	margin: auto;
}

/* Contiene un div de texto y div de logos cambia a flex columna en anchos pequenos */
.footer .container {
	display: flex;

	/* Cuando el ancho se pequeno este valor cambia a column */
	flex-direction: row;

	/* Centra los hijos verticalmente */
	align-items: center;

	/* Magica linea que centra los hijos horizontalmente */
	justify-content: center;
}

/* Aplica estilo al texto en el footter */
.footer-text p,
.footer-text p a{
	/* Centra horizontalmente el texto */
	text-align: center;

	/* Centra verticalmente el texto */
	margin: auto;

    font-size: 16px !important;

}

.footer-text {
	/* Color de texto */
	color: var(--secondary2);

	/* Sepracion entre el texto y los logos */
	margin-right: 20px;
}

.footer-logos {
	display: flex;
}

/* Iconos con link en el footer */
.footer a {
	color: var(--secondary2);
	font-size: 32px;
	margin: 5px;
	margin-bottom: 16px;
}

.footer a:hover {
	color: var(--white);
}

.navbar-brand {
	margin-left: 20px;
	display: flex;
}

.navbar-brand p {
	margin: auto;
	margin-left: 10px;
}



/* Footer responsivo */
@media (max-width: 600px) {
	.footer .container {
		flex-direction: column;
	}
}

@media (max-width: 350px) {
	.navbar-brand p {
		display: none;
	}
}



/* contendor general de todo el fab */
.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* se expanda a toda la pantalla vertical para mantener el float button abierto */
.fab-container:hover {
    height: 100%;
}

/* mueve los iconos en zindex -1 para mostrarlos */
.fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-80px);
}
.fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-140px);
}
.fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-200px);
}
.fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-260px);
}
.fab-container:hover .sub-button:nth-child(6) {
    transform: translateY(-320px);
}

/********************** FAB DARK-LIGHT MODE **********************/

/* estilos boton principal */
.fab-container .fab {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #1d1616;
    border-radius: 50%;
    /* siempre por delante */
    z-index: 2;
}

/* que sera ::before? */
/* para que sirve inherit? me imagino que hereda el color de fondo?*/
/* diferencias entre absolute y relative */
/* esto es como un quadrante para hacer el diseño  */
.fab-container .fab::before {
    content: " ";
    /* 3 linea magicas que mueven el cuadrate a donde sea */
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: inherit;
    /* que estilo eee */
    border-radius: 0 0 10px 0;
    z-index: -1;
}

/* estilos de botons principal */
.fab-container .fab .fab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* icono princial estilos */
.fab-container .fab .fab-content .material-icons {
    color: white;
    font-size: 48px;
}

/* estilos de los botones ocultos */
.fab-container .sub-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* ni idea porque estan chuecos pero esta 2 lineas los arregla */
    bottom: 10px;
    right: 10px; /*incesario porque default es auto al parecer*/
    height: 50px;
    width: 50px;
    background-color: #1d1616;
    border-radius: 50%;
    /* magica linea para las animaciones */
    transition: all 0.3s ease;
}

/* cuando se encuentra sobre los ocultos el cursor cambia a pointer */
.fab-container .sub-button:hover {
    cursor: pointer;
}

/* iconos ocultos que se expanden blancos */
.fab-container .sub-button .material-icons {
    /* color con rgb */
    color: rgb(255, 255, 255);
    /* curiosamente los iconos aparecen un poco arriba con esto se arregla */
    /* padding-top: 6px; */
}
