/* Cambiar o ocultar color del borde por defecto */
.border {
	border-color: red !important;
}

:root {
	--primary: #ffffff;
	--secondary: #ffffff;
	/* --icons: #ffffff; */
	/* --letter: #d81818; */
}

/* Aplicar estilo a todo elemento */
* {
	font-family: "Comic Sans MS", "Comic Sans";

	/* debug */
	
	/* border: solid blue !important;
	color: rgb(255, 0, 0) !important;
	border-width: 1px !important; 
	background-color: white !important; */
	

}
/********************** BODY **********************/
body {
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}




/********************** NAVBAR **********************/
.nav-link {
	color: var(--letter);
}

.nav-icon {
	color: var(--icons);
	font-size: 32px;
	margin-bottom: 16px;
}


/********************** FOOTER **********************/

/* Aplica estilo a la clase footer */
.footer {
	background-color: var(--primary);

	display: flex;

	flex-direction: row;

	padding: 5px;

	/* Central horizontal */
	margin: auto;
}

/* Contiene un div de texto y div de logos cambia a flex columna en anchos pequenos */
.footer .container {
	display: flex;

	/* Cuando el ancho se pequeno este valor cambia a column */
	flex-direction: row;

	/* Centra los hijos verticalmente */
	align-items: center;

	/* Magica linea que centra los hijos horizontalmente */
	justify-content: center;
}

/* Aplica estilo al texto en el footter */
.footer-text p {
	/* Centra horizontalmente el texto */
	text-align: center;

	/* Centra verticalmente el texto */
	margin: auto;
}

.footer-text {
	/* Color de texto */
	color: var(--letter);

	/* Sepracion entre el texto y los logos */
	margin-right: 20px;
}

.footer-logos {
	display: flex;
}

/* Iconos con link en el footer */
.footer a {
	color: var(--icons);
	font-size: 32px;
	margin: 5px;
	margin-bottom: 16px;
}

.navbar-brand {
	margin-left: 20px;
	display: flex;
}

.navbar-brand p {
	margin: auto;
	margin-left: 10px;
}



/* Footer responsivo */
@media (max-width: 600px) {
	.footer .container {
		flex-direction: column;
	}
}

@media (max-width: 350px) {
	.navbar-brand p {
		display: none;
	}
}