/* Cambiar o ocultar color del borde por defecto */
.border {
	border-color: red !important;
}

:root {
	/* --icons: #ffffff; */
	/* --letter: #d81818; */
	--primary:#241014;
    --primary2:#2E151A;
    --secondary:#EFB817;
    --secondary2:#FCBF6B; /*letters*/
    --white:#FFFFFF;
    --black:#000000;
}

/* Aplicar estilo a todo elemento */
* {
	/* font-family: "Comic Sans MS", "Comic Sans"; */
    /* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Playfair Display', ;
	font-weight: bold;

	/* debug */
	
	/* border: solid rgb(43, 255, 0) !important;
	color: rgb(255, 0, 0) !important;
	border-width: 1px !important; 
	background-color: white !important; */
}

/********************** BODY **********************/
body {
	/* Altura minima de toda la pantalla para que el footer este hasta abajo */
    min-height: 100vh;
    margin: 0;
	display: flex;
    flex-direction: column;
	background-color: var(--primary2);
}

/* Dummy div entre navbar y footter que se expande parue el */
article {
    flex: 1;
}


/********************** NAVBAR **********************/
.navbar {
	background-color: red;
}

.nav-link {
	color: var(--secondary2);
}

.nav-link:hover {
	color: var(--white);
}

.navbar-brand{
	color: var(--white);
}

.navbar-brand:hover {
	color: #c5c5c5;
}

.nav-icon {
	color: var(--secondary2);
	font-size: 32px;
	margin-bottom: 16px;
}

.nav-icon:hover {
	color: var(--white);
}


/********************** FOOTER **********************/

/* Aplica estilo a la clase footer */
.footer {
	background-color: var(--primary);

	display: flex;

	flex-direction: row;

	padding: 5px;

	/* Central horizontal */
	margin: auto;
}

/* Contiene un div de texto y div de logos cambia a flex columna en anchos pequenos */
.footer .container {
	display: flex;

	/* Cuando el ancho se pequeno este valor cambia a column */
	flex-direction: row;

	/* Centra los hijos verticalmente */
	align-items: center;

	/* Magica linea que centra los hijos horizontalmente */
	justify-content: center;
}

/* Aplica estilo al texto en el footter */
.footer-text p {
	/* Centra horizontalmente el texto */
	text-align: center;

	/* Centra verticalmente el texto */
	margin: auto;
}

.footer-text {
	/* Color de texto */
	color: var(--secondary2);

	/* Sepracion entre el texto y los logos */
	margin-right: 20px;
}

.footer-logos {
	display: flex;
}

/* Iconos con link en el footer */
.footer a {
	color: var(--secondary2);
	font-size: 32px;
	margin: 5px;
	margin-bottom: 16px;
}

.footer a:hover {
	color: var(--white);
}

.navbar-brand {
	margin-left: 20px;
	display: flex;
}

.navbar-brand p {
	margin: auto;
	margin-left: 10px;
}



/* Footer responsivo */
@media (max-width: 600px) {
	.footer .container {
		flex-direction: column;
	}
}

@media (max-width: 350px) {
	.navbar-brand p {
		display: none;
	}
}